$primary-color: rgb(55, 43, 124);
$secondary-color: #fe4cf7;

.posts-index {
    max-width: 1120px;
    margin: auto;
    margin-top: 7rem;
    position: relative;
    padding: 0 0.5rem;
    .inner {
        .header-container {
            display: flex;
            justify-content: space-between;
        }
        .search-container {
            margin-top: 0.3rem;
            margin-right: 0.2rem;
            input {
                padding: 0.5rem;
                font-size: 1rem;
            }
            button {
                padding: 0.6rem;
                background-color: $primary-color;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: $secondary-color;
                }
                i {
                    font-size: 1rem;
                    color: white;
                }
            }
        }
        .header {
            display: flex;
            margin-bottom: 0.8rem;
            img {
                width: 3rem;
                margin-right: 0.5rem;
            }
            h1 {
                color: rgb(141, 35, 176);
                font-size: 2rem;
                font-weight: bold;
                margin-top: 0.2rem;
                margin-bottom: 1rem;
            }
        }
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            margin-bottom: 2rem;
        }
        .card {
            border: 1px solid rgb(167, 165, 165);
            border-radius: 6px;
            overflow: hidden;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
            .body {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0.5rem;
                .title {
                    color: $primary-color;
                }
                .button {
                    margin-top: 1.5rem;
                    a {
                        color: white;
                        background-color: $secondary-color;
                        padding: 0.5rem;
                        font-size: 0.8rem;
                        &:hover {
                            background-color: #bb15b5;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .posts-index {
        font-size: 1rem;
        .inner {
            .header {
                h1 {
                    font-size: 1.5rem;
                }
            }
            .cards {
                grid-template-columns: repeat(2, 1fr);
            }
            .card {
                .body {
                    .title {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
